.islider-dot {
    bottom: px(14);
    z-index: 10;
    font-size: 0;
    text-align: center;
    @include center-translate(horizontal);
    li {
        display: inline-block;
        width: px(14);
        height: px(14);
        margin: 0 px(8);
        background-color: rgba(255, 255, 255, .6);
        border-radius: px(8);
        &.z-sel {
            background-color: #fff;
        }
    }
}

.islider-outer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .islider-node {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
    }
}